{% load media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>{{ page.title|striptags }}क्रिसेली नेपाली शब्दकोश</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="keywords" content="gnu dico web search interface, dicoweb, dictionaries, dict protocol" />
<meta name="robots" content="{{ page.robots }}" />
<link rel="stylesheet" type="text/css" href="{% media_prefix %}dicoweb.css" />
<link rel="search" type="application/opensearchdescription+xml" title="GNU Dico WebSearch" href="{% url 'opensearch' %}" />
<meta charset="utf-8">
<link rel="icon" href="/static/kriseli-icon.svg">
<meta name="description" content="Kriseli is a Nepali dictionary with 65,000 words">
<meta name="author" content="आयुष झा">


 <!-- Open Graph Begin -->

   <meta property="og:title" content="क्रिसेली नेपाली शब्दकोश">

  <meta property="og:site_name" content="क्रिसेली">

  <meta property="og:url" content="https://kosh.kriseli.com">

  <meta property="og:description" content="Kriseli is a Nepali dictionary with 65,000 words">

  <meta property="og:type" content="website">

  <meta property="og:image" content="https://kosh.kriseli.com/static/opengraph.png">

  <!-- Open Graph End -->


<script type="text/javascript" src="{% media_prefix %}dicoweb.js"></script>
</head>

<body>
  <div id="wrap">
    <div id="logo">
      <h1><a href="{% url 'index' %}" accesskey="1">क्रिसेली</a></h1>
      <img src="{% media_prefix %}default-monochrome-black.svg" width="129" height="122" alt="Kriseli" />
    </div>
    <div id="main">
      {% block search %}{% endblock %}
    </div>
  </div><!-- /wrap -->
  <div class="clear"></div>

{% block results %}{% endblock %}

<hr>
<br>
<p> क्रिसेली शब्दकोशमा नयाँ शब्द थप्न, शब्द/अर्थ सच्याउन अथवा धन्यवाद/टिप्पणी दिन ayushjha@siyasang.com मा इमेल गर्नुहोस्। </p>
<p> यो परियोजना तपाईँलाई काम लाग्यो भने मलाई सहयोग गर्नुहोस् -  <p>

<div class="flex-container">
	<div>
		खल्ती - 9880368914
	</div>
	<div>
		ई-सेवा - 9880368914
	</div>
	<div>
		Bank Account 
		<p>		 NIC Asia Bank Limited </p>

		<p>	Ayush Jha</p>

		<p>0635750686252001 </p>
	</div>
	<div>
		मलाई इमेलमा धन्यवाद दिनुहोस् -  ayushjha@siyasang.com
	</div>
</div>


  <div id="footer">
    <a href="http://www.gnu.org/software/dico/">Based on GNU Dico</a>
    Web interface. Copyright &copy; 2008-{% now "Y" %} GNU Dico Team.
  </div>

</body>
</html>
