{% extends 'base.html' %}
{% load i18n %}
{% load dictlookup %}

{% block search %}

<div id="searchform">
  <form id="form" method="get" action="">
    <table>
      <tbody>
	<tr>
          <td align="right" class="label">{% trans "शब्द:" %}</td>
	  <td>
	    <input type="text" id="q" name="q" size="35" value="{{ q|escape }}" />
            <a href="./#" id="toggle_options">{% trans "थप विन्यास" %}</a>
	  </td>
	</tr>
      </tbody>
      <tbody id="options" class="hidden">
	{% if selects.sv %}
	<tr>
	  <td align="right">{% trans "वितरक:" %}</td>
	  <td>
            <select name="server">
              {{ selects.sv.html|safe }}
	    </select>
	  </td>
	</tr>
	{% endif %}
	<tr>
	  <td align="right">{% trans "दत्तसङ्ग्रह:" %}</td>
	  <td>
            <select name="db" style="width:350px">
              {{ selects.db.html|safe }}
	    </select>
	  </td>
	</tr>
	<tr>
	  <td align="right">{% trans "शब्द मेल निती:"%}</td>
	  <td>
            <select name="strategy" style="width:350px">
	      {{ selects.st.html|safe }}
	    </select>
	  </td>
	</tr>
      </tbody>
      <tbody>
	<tr>
	  <td id="action-pad"></td>
	  <td id="action" colspan="2">
	    <input type="submit" name="search" value="{% trans "मिल्ने शब्दहरू खोज" %}" />
	    <input type="submit" name="define" value="{% trans "व्याख्या गर" %}" />
	  </td>
	</tr>
      </tbody>
    </table>
  </form>
</div>

{% endblock %}
{% block results %}

{% if result.error %}
<div class="derror">
  {{ result.msg }}
</div>
{% else %}

{% if result.definitions %}
  <div class="definition results">
    {% if mtc.matches %}
    <a href="#match-results" class="link-lmr">{% trans "मेल खाएका शब्हरू" %}</a>
    {% endif %}
    {% for df in result.definitions %}
    <pre>
      <a href="?q={{ df.db|urlencode }}&amp;db=dbinfo">{% firstof df.db_fullname df.db %}</a> {% trans "बाट" %}:
      <br /><br />
      {% if df.format_html %}
{{ df.desc|safe }}
      {% else %}
{{ df.desc|safe|linebreaksbr }}
      {% endif %}
    </pre>
    {% endfor %}
  </div>
{% else %}
{% if result.desc %}
  <div class="results">
    <pre>
{{ result.desc|linebreaksbr }}
    </pre>
  </div>
{% endif %}
{% endif %}

{% if mtc.matches %}
  <div class="match results">
    <h2><a name="match-results"></a>{% trans "मेल खाएका शब्दहरू" %}</h2>
      {% for mt in mtc.matches.items %}
      <div style="margin-bottom: 2em">
	      <h3 class="dbname-short" title="{{ mtc.dbnames|dictlookup:mt.0 }}">{{ mtc.dbnames|dictlookup:mt.0 }}</h3>
	      <ol>
		      {% for term in mt.1 %}
		      <li><a href="?q={{ term|urlencode }}&amp;db={{ mt.0|urlencode }}&amp;define=1" title="{% blocktrans %}Define {{ term }}{% endblocktrans %}">{{ term }}</a></li>{% endfor %}
	      </ol>
      </div>
      {% endfor %}
  </div>
{% endif %}
{% endif %}

<script type="text/javascript">
var gettext_msg = {
  'more options': '{% trans "थप विन्यास" %}',
  'less options': '{% trans "थोरै विन्यास" %}'
};
</script>
{% endblock %}
